body {
  background-color: #BEAEE2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-size: 20px;
  text-align: center;
  color: #52006A;
}


#array {
  background-color: white;
  height: 413px;
  width: 598px;
  position: relative;

  margin :auto;
  margin-top: 50px;


}

.block {
  width: 28px;
  background-color: #6b5b95;
  position: absolute;
  bottom: 0;
  transition: 0.2s all ease;
}

.block_id {
  position: absolute;
  color: black;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}

/* input box for Search */
.input-box{
  text-align: center;
  color: white;
  width: 30%;
  font-weight: bolder;


  margin:20px auto;
}
/* //buttons */
.button-row {
  text-align: center;
}
.button {
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border-radius: 7%;
  background-color:white;
  color:#6b5b95;
  width:100px;
  height:30px;
  margin: 5px;
}
.button:hover {
  color: white;
  background-color: #6b5b95;

}
