body {
  background-color: #BEAEE2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-size: 20px;
  text-align: center;
  color: #52006A;
}
.mario{
  width:5%;
  border-radius: 100%;

}

#array {
  background-color: white;
  height: 413px;
  width: 598px;
  position: relative;

  margin :auto;
  margin-top: 50px;


}

.block {
  width: 28px;
  background-color: #6b5b95;
  position: absolute;
  bottom: 0;
  transition: 0.2s all ease;
}

.block_id {
  position: absolute;
  color: black;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}
/* //buttons */
.button-row {
  text-align: center;
}
.button {
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border-radius: 7%;
  background-color:white;
  color:#6b5b95;

}
.button:hover {
  color: white;
  background-color: #6b5b95;

}

.generate-array-btn{

  left: 10%;
  bottom:30%;

  width:100px;
  height:30px;



}
.bubble-sort-btn{

  left:10%;

  width:100px;
  height:30px;
  margin-top: 15px;
}
